.container {
    max-width: 1280px;
    padding: 0 1rem;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.backToHome {
    margin: 3rem 0 0;
}

.defeatScrollBar {
    margin-right: calc(-1 * (100vw - 100%));
}