@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: rgb(24 24 27);
    color: white;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #3A86FF;
  font-weight: bold;
  opacity: 1;
}

img {
  max-width: 100%;
  display: block;
}

/* no longer being used: */

/* #gradient-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  --gradient-color-1: #F1C0E8; 
  --gradient-color-2: #FBF8CC; 
  --gradient-color-3: #90DBF4;  
  --gradient-color-4: #FDE4CF;
} */